<%- include("partials/header") %>

<!-- Header End -->
<!-- <div class="bheading" style="background:url(img/header-bg-3.png) no-repeat">
    <h1>Job Details</h1>
  </div> -->
<!-- Header End -->

<!-- Job Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid border rounded" src="data:<%=
                    contentType%>;base64,<%= data.toString('base64')%>" alt=""
                        style="width: 80px; height: 80px" />
                    <div class="text-start ps-4">
                        <h3 class="mb-3"><%= jobname %></h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i><%= location %></span>
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i><%= jobnature %></span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i><%= salary %></span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>
                    <p>
                        <%= description %>
                    </p>
                    <h4 class="mb-3">Qualifications</h4>
                    <p>
                        <%= qualification %>
                    </p>

                    <h4 class="mb-3">Company Detail</h4>
                    <p>
                        <%= companydetail %>
                    </p>

                </div>

                <div class="">
                    <h4 class="mb-4">Apply For The Job</h4>
                    <form action="mailto:<%=email%>" method="post" enctype="text/plain">
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" required class="form-control" name="Applicant name" placeholder="Your Name" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" required class="form-control" name="Email" placeholder="Your Email" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" name="Portfolio website" placeholder="Portfolio Website" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="number" class="form-control" name="contact number" placeholder="number" />
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" required name="Coverletter" rows="5" placeholder="Coverletter"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit" name="Upload your resume as an Attachment (IMPORTANT)">
                                    Apply Now
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summery</h4>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2"></i>Published On: <%= publishdate %>
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2"></i>Vacancy: <%= vacancy %>
                        Position
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2"></i>Job Nature: <%= jobnature %>
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2"></i>Salary: <%= salary %>
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2"></i>Location: <%= location %>
                    </p>
                    <p class="m-0">
                        <i class="fa fa-angle-right text-primary me-2"></i>Date Line: <%= datelinedate %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->

<%- include("partials/footer"); %>
